$font-weight-normal: 500;

// Default row gutter (col padding = gutter/2)
$grid-gutter-width: 32px;

// Default for tables
$table-cell-padding: 14px;

// Default for input && btn
$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$input-btn-font-size: 14px;
// Disable focused effect
$input-btn-focus-width: 0;
$input-btn-focus-color: none;
// $input-btn-focus-box-shadow: none;
// $input-btn-active-box-shadow: none;